body{
    background-color:aquamarine;
}
button
{
    background-color:rgb(165, 42, 144);
    color:blue;
}
.chintu{
    background-color: rgb(191, 255, 0);
}
.akki
{
    background-color: bisque;
}
h1{
    color:rgb(0, 0, 0)
}